#projectsContainer{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}
.project{
    background-color: #f9f9f940;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    width: 300px;
    transition: transform 0.2s;
}
.project:hover{
    transform: scale(1.05);
}
.project h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.project img{
    border-radius: 4px;
    margin-bottom: 10px;
}
.project p{
    color: #555;
}
.project a{
    background-color: yellow;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.project a:hover{
    background-color: #555;
}
@media screen and (max-width:840px) {
    #projectsContainer{
        max-width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    
}